<div class="login-info">
    <span>
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <img src="http://tse2.mm.bing.net/th?id=OIP.M63ea3a87b72efd6acd19644f419fa6a1H1&w=78&h=78&c=7&pid=1.1" alt="me" class="online" />
            @*<span>@User.Identity.Name.ToLower()</span>*@
            <span>@ViewBag.Nombre</span>
            
            <i class="fa fa-angle-down"></i>
        </a>
    </span>
</div>