    <!-- PAGE FOOTER -->
<div class="page-footer" style="max-width: 1345px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12" style="font-size:12px">
            <span class="txt-color-white">CRL Admin <span class="hidden-xs"> - Club de Regatas "Lima"</span> © 2016</span> - <i style="color:lightgray">Por JDB Pocketware</i>
        </div>
      
    </div>
</div>
<!-- END PAGE FOOTER -->