@model string
@{
    Layout = "_FieldLayout.cshtml";
}
<div class="efield">
    
    <div class="einput">
        <div id="dvfoto" class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
            </div>
            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px;
                                    max-height: 150px; line-height: 20px;">
            </div>
            <div>
                <span class="btn default btn-file">
                    <span class="fileupload-new">
                        <i class="fa fa-paper-clip">
                        </i>Select image
                    </span><span class="fileupload-exists">
                        <i class="fa fa-undo"></i>Change
                    </span>
                    @Html.HiddenFor(o => Model)
                    <input type="file" class="default" id="fotoFile" />
                </span><a href="javascript:void(0);" class="btn red fileupload-exists" data-dismiss="fileupload" id="foto_remove">
                    <i class="fa fa-trash-o"></i>Remove
                </a>
            </div>
        </div>
    </div>
    @Html.ValidationMessage("")
</div>

<script type="text/javascript">

    FileUpload(prefix, 'foto', '@Model' );

    $(function () {

        BindFileUpload(prefix, 'foto');
        BindFileRemove(prefix, 'foto');
    });

</script>
