@{ Layout = null; }
<div class="elabel2">Name:</div>
<div class="einput">
    <input o="text" name="search" class="awe-searchtxt" placeholder="Buscar..." />
</div>
<button type="button" class="awe-searchbtn awe-btn">Search</button>
<button type="button" class="awe-btn" onclick="awe.open('createZona')" style="padding: 0.35em 0.7em;">Create</button>
<br style="clear: both;" />

@(Html.Awe().InitPopupForm()
                    .Name("createZona")
                        .Url(Url.Action("Create", "aloZona"))
                .Success("utils.lookupTblCreated")
                .Height(430)
                .Modal(true)
                    .Group("zona")
                        .Title("create zona"))

@(Html.Awe().InitPopupForm()
                    .Name("editZona")
                            .Url(Url.Action("Edit", "aloZona"))
                .Success("utils.lookupEdited('Id')")
                .Height(430)
                .Modal(true)
                    .Group("zona")
                        .Title("edit zona"))

@(Html.Awe().InitPopupForm()
                    .Name("deleteZona")
                            .Url(Url.Action("Delete", "aloZona"))
                .Success("utils.lookupDeleted('Id')")
                .OkText("Yes")
                .CancelText("No")
                .Height(200)
                        .Title("delete zona"))
