<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    <h1 class="login-header-big">Admin CRL</h1>
    <div class="hero">

        <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">Panel administrativo para la aplicación móvil y sistemas internos del club</h4>
        </div>


    </div>

    
</div>